{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div width="100%" class="col-sm-8 blog-main">
  <h2>My Posts</h2>
  <button type="button" class="btn btn-default" style="float: right; position: relative; display: inline-block; margin: 10px;"><a href="/create">Add new post</a></button>
  <table class="blog-table">
    <th>Post Title</th>
    <th>Edit</th>
    <th>Delete</th>
    {% for key, value in data.iteritems() %}
        {% for v in value | sort(attribute='3', reverse = True) %}
            <tr>
              <td>{{ v[1] }}</td>
              <td><button type="button" class="btn btn-xs btn-default"><a href="{{ url_for('edit_post', post_id=v[0] ) }}">Edit</a></button></form></td>
              <td>
                <form action="/delete" method="post">
                  <input type=hidden value="{{ v[0] }}" name="post_to_delete"></input>
                  <button type="submit" class="btn btn-xs btn-default">Delete</button>
                </form>
              </td>
            </tr>
        {% endfor %}
    {% endfor %}
  </table>
</div><!-- /.blog-main -->
{% endblock %}