{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div width="100%" class="col-sm-8 blog-main">
  <h2>My Posts</h2>
  <button type="button" class="btn btn-default" style="float: right; position: relative; display: inline-block; margin: 10px;"><a href="/create">Add new post</a></button>
  <table class="blog-table">
    <th>Post Title</th>
    <th>Edit</th>
    <th>Delete</th>
    {% for value in data.values() | sort(attribute='3', reverse = True) %}
    <tr>
      <td>{{ value.1 }}</td>
      <td>A thingy!</td>
      <td>A thingy</td>
    </tr>
    {% endfor %}
  </table>
</div><!-- /.blog-main -->
{% endblock %}