{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div width="100%" class="col-sm-8 blog-main">
    <form method="post">
    <label for="title">Title</label><BR>
      {% for val in title %}
          <input name="title" id="title" value="{{ val[0] }}" required><BR><BR>
      {% endfor %}
    <label for="body">Body</label>
      {% for val in content %}
           <textarea name="content" rows="300" cols="100" id="inputText" class="form-control" style="margin:5px; height:300px;">{{ val[0] }}</textarea>
      {% endfor %}
      <button type="submit" class="btn btn-default" style="float: right; position: relative; display: inline-block; margin: 10px;">Save</button>
  </form>
  </table>
</div><!-- /.blog-main -->
{% endblock %}