{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div width="100%" class="col-sm-8 blog-main">
  {% for key, value in data.iteritems() %}
      {% for v in value | sort(attribute='3', reverse = True) %}
           <div class="blog-post">
           <div class="blog-post">
             <h2 class="blog-post-title"><dd>{{ v[1] }}</dd></h2>
             <p class="blog-post-meta">{{ v[3] }} by <a href="#">{{ v[4] }} {{v[5] }}</a></p>
             <p><dd>{{ v[2] }}</dd></p>
           </div>
      {% endfor %}
    {% endfor %}
  <nav>
    <ul class="pager">
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </nav>
</div>
{% endblock %}
<!-- /.blog-post -->
<!-- /.blog-main -->