{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
  {% for value in data.values() | sort(attribute='3', reverse = True) %}
  <div class="blog-post">
    <h2 class="blog-post-title"><dd>{{ value.1 }}</dd></h2>
    <p class="blog-post-meta">{{ value.3 }} by <a href="#">{{ value.4 }} {{value. 5 }}</a></p>
    <p><dd>{{ value.2 }}</dd></p>
    {% endfor %}
  </div>
</div><!-- /.blog-post -->

<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
</div><!-- /.blog-main -->
{% endblock %}